<configuration>
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>localhost:5044</destination> <!-- Update this to your Logstash host and port -->
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/Users/admin/Downloads/Logs/LOGGING FILE.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>/Users/admin/Downloads/Logs/LOGGING FILE.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- keep 5 days' worth of history -->
            <maxHistory>5</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <!-- Set logger levels to ERROR to suppress INFO, WARN, DEBUG, and TRACE level at startup/shutdown  -->
    <logger name="org.springframework" level="ERROR" />
    <logger name="org.springframework.boot" level="ERROR" />
    <logger name="org.springframework.web" level="ERROR" />
    <logger name="org.apache.catalina" level="ERROR" />
    <logger name="org.hibernate" level="ERROR" />
    <logger name="org.apache.coyote.http11.Http11NioProtocol" level="ERROR" />
    <logger name="com.zaxxer.hikari.HikariDataSource" level="ERROR" />
    <logger name="com.zaxxer.hikari.pool.HikariPool" level="ERROR" />


    <root level="info">
        <appender-ref ref="LOGSTASH" />
        <appender-ref ref="ROLLING_FILE" />
    </root>
</configuration>