<configuration>
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>localhost:5044</destination> <!-- Update this to your Logstash host and port -->
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

<!--    <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <file>/Users/admin/Downloads/Logs/LOGGING FILE.log</file>-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            &lt;!&ndash; daily rollover &ndash;&gt;-->
<!--            <fileNamePattern>/Users/admin/Downloads/Logs/LOGGING FILE.%d{yyyy-MM-dd}.log</fileNamePattern>-->
<!--            &lt;!&ndash; keep 5 days' worth of history &ndash;&gt;-->
<!--            <maxHistory>5</maxHistory>-->
<!--        </rollingPolicy>-->
<!--        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />-->
<!--    </appender>-->

    <root level="info">
        <appender-ref ref="LOGSTASH" />
<!--        <appender-ref ref="ROLLING_FILE" />-->
    </root>
</configuration>